@charset "utf-8";

// color
$white: #ffffff;
$mainTxt: #161a25;
$black: #000;

//
$transform50: translate(-50%, -50%);
$transition: all 0.5s ease;

//
$mobilePadding: 2rem;

// responsive break point
$minIphone: 374px;
$maxIphone: 767px;
$minTablet: 768px;
$maxTablet: 1024px;
$maxNote: 1440px;
