@charset "utf-8";

@import "_variable.scss";
@import "_mixin.scss";
@import "_extend.scss";

// 1440px
@include noteBook {
  .parallax-container {
    .title {
      padding: $mobilePadding;
    }
  }

  #design {
    .design-cont {
      img {
        width: 56%;
      }

      .title {
        width: 44%;
      }
    }
  }

  .tech-right {
    .row {
      .title {
        bottom: -47rem;
      }
    }
  }

  footer {
    padding: $mobilePadding;
  }
}

// 1024px
@include tablet {
  img {
    width: 100%;
  }
  header {
    #container {
      nav {
        ul {
          flex-wrap: wrap;
        }
      }
    }
  }

  #design {
    .design-cont {
      flex-wrap: wrap;
      background: $mainTxt;

      img {
        width: 100%;
      }

      .title {
        width: 100%;
        text-align: center;
        padding: $mobilePadding;
      }
    }
  }

  #viewer {
    padding: 100px 0 50px;

    .pager {
      text-align: center;
      padding: $mobilePadding;
    }
  }

  // slider section
  .basic-slwrap {
    flex-wrap: wrap;

    .basic-sl {
      width: 100%;

      .owl-dots {
        transform: $transform50;
      }
    }

    .title {
      @include slideTxt;
    }
  }

  #performance {
    #perfor {
      @include flexbox($flexW: wrap-reverse);

      .title {
        @include slideTxt;
      }
    }

    #feature {
      ul {
        flex-wrap: wrap;

        .title {
          @include slideTxt;
        }
      }
    }
  }

  .tech-right {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
    }
  }

  .tech-hover {
    margin-top: 0;

    figure {
      @include flexbox();
      width: 100%;
      background: $mainTxt;
      margin-bottom: 1px;

      &:nth-child(2n + 2) {
        flex-direction: row-reverse;

        img {
          border-right: 0;
          border-left: 1px solid $white;
        }
      }
      &:last-child {
        width: 100%;
        background: url(../img/tech05.jpg) top center no-repeat;
        background-size: cover;

        figcaption {
          padding: $mobilePadding;
          border-left: 1px solid $white;
        }
        img {
          opacity: 0;
        }
      }

      img {
        border-right: 1px solid $white;
        width: 50%;
      }

      figcaption {
        background: $mainTxt;
        position: inherit;
        opacity: 1;

        .box {
          transform: none;
          left: 0;
          top: 0;
        }

        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
      }
    }
  }

  #personal {
    .effbox {
      &:before {
        @include effbox;
        left: 0;
      }

      &:after {
        opacity: 1;
      }

      .hover {
        width: 100%;
        padding-right: 10%;
        opacity: 1;
      }

      &.box2 {
        border-top: 1px solid $white;

        &::before {
          @include effbox;
          right: 0;
        }
        .hover {
          width: 100%;
        }
      }
    }
  }

  #spec {
    ul {
      padding: $mobilePadding;
    }
  }

  //
}

// 768px
@include smallTablet {
  .title {
    br {
      display: none;
    }
  }

  .tech-hover {
    figure {
      &:last-child {
        img {
          display: none;
        }
        figcaption {
          width: 100%;
          padding: 5rem $mobilePadding;
          background: rgba(22, 26, 37, 0.8);
          border: 0;
        }
      }
    }
  }

  #personal {
    .effbox {
      text-align: center;
      padding: 5rem $mobilePadding;

      .hover {
        padding-right: 0;

        p {
          br {
            display: none;
          }
        }
      }

      &.box2 {
        .hover {
          padding-right: 0;
          text-align: center;
        }
      }
    }
  }
}

// 767px
@include mobile {
  .parallax-container {
    .title {
      text-align: center;
    }
  }
  .btn {
    padding: 10px 20px 10px 16px;
    font-size: 16px;
  }

  .ttl {
    padding: $mobilePadding;

    h2 {
      font-size: 2.4em;
    }
    p {
    }
  }

  // header
  header {
    #container {
      h1,
      h1 img {
        width: 50%;
      }

      .select-box {
        min-width: 70px;

        select {
          height: 40px;
          font-size: 14px;
        }

        &:before {
          top: 15px;
          right: 30px;
        }
        &:after {
          top: 16px;
          right: 8px;
        }
      }

      // nav
      nav {
        border-top: 1px solid rgba(255, 255, 255, 0.2);

        &.open {
          height: 100%;
        }

        ul {
          margin-top: 18px;

          li {
            width: 100%;

            a {
              padding: 6px 0 5px;
              font-size: 14px;

              &:hover {
                &:before {
                  left: 0;
                }
              }
            }
          }
        }
      }
    }

    // header change
    &.change {
      #container {
        h1 {
          img {
            width: 50%;
          }
        }
      }
    }
  }

  // visual
  #visual {
    .visual-sl {
      .item {
        h2 {
          padding: $mobilePadding;
          font-size: 4em;
          padding-top: 30%;
        }
        .textbox {
          width: 100%;
          padding: $mobilePadding;

          p {
            font-size: 20px;
          }
        }
      }

      // arrow
      .owl-nav {
        button.owl-prev {
          right: 4.7rem;
        }
        button.owl-next {
          right: 2rem;
        }
      }
    }

    // scrolldown
    .scrolldw#scrolldown {
      a {
        left: 2rem;
      }
    }
  }

  //
  .tech-right {
    .row {
      .title {
        text-align: center;
      }
    }
  }

  // tech-hover figure
  .tech-hover {
    figure {
      flex-wrap: wrap;
      // margin-bottom: 0;

      &:nth-child(2n + 2) {
        img {
          border: 0;
        }
      }

      img {
        width: 100%;
        border: 0;
      }
      figcaption {
        width: 100%;
        padding: 4rem $mobilePadding;

        .box {
          h2 {
            border-bottom: 1px solid $white;
            padding-bottom: $mobilePadding;
          }
          p {
            padding: 0;
          }
        }
      }
    }
  }

  // spec
  #spec {
    ul {
      li {
        width: 100%;
      }
    }
  }

  //footer
  footer {
    .row {
      .text {
        width: 100%;

        &:first-child {
          text-align: center;
          padding-bottom: 1rem;
        }

        &:nth-child(2) {
          padding: 1rem 0;
          border-top: 1px solid rgba(255, 255, 255, 0.1);
          border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        ul {
          padding-top: 0.6rem;
          li {
            padding: 0 10px;
          }
        }
      }
    }
  }
}

// 375px 이하
@include tinyMobile {
  .btn {
    font-size: 14px;
  }

  .ttl {
    h2 {
      font-size: 2em;
    }
  }

  .title {
    h2 {
      font-size: 1.6em;
    }
  }

  .parallax-container {
    height: 120%;

    .title {
      bottom: 0;
    }
  }

  //
  #visual {
    .visual-sl {
      .item {
        h2 {
          font-size: 2.4em;
          padding-top: 30%;
        }
      }
    }
  }

  .tech-right {
    .row {
      .title {
        top: 0;
        bottom: 0;
      }
    }
  }

  .tech-hover {
    figure {
      figcaption {
        .box {
          .tt {
            font-size: 1.6em;
          }
        }
      }
    }
  }
}
