@charset "utf-8";

@import "_variable.scss";
@import "_mixin.scss";
@import "_extend.scss";

//@charset "utf-8";

/*font*/
/*
font-family: 'Nanum Pen Script', cursive;
font-family: 'Gamja Flower', cursive;*/

/*---------------------
        common
---------------------*/

::selection {
  background: $mainTxt;
  color: $white;
}

.row {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
a,
a:hover {
  color: $mainTxt;
  text-decoration: none;
  transition: $transition;
}

/*
  parallax scroll
*/

.parallax-container {
  height: 100%;
  width: 100%;
  position: relative;

  .title {
    text-align: left;
    color: $white;
    position: absolute;
    bottom: 15%;

    h2 {
      @extend %h2;
    }
    p {
      @extend %titleP;
    }
  }
}

.endbox .btn {
  margin: 30px auto 0;
}

/*
  button
*/

.btn {
  transition: $transition;
  color: $white;
  display: inline-block;
  border-radius: 50px;
  border: 1px solid $white;
  font-size: 18px;
  font-weight: 100;
  padding: 13px 20px 15px;

  i {
    transition-delay: 0s;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: linear;
  }
  span {
    display: inline-block;
    padding: 0 0 0 10px;
  }

  &:hover {
    background: $mainTxt;
    border: 1px solid $mainTxt;
    color: $white;

    i {
      transform: rotate(360deg);
    }
  }
}

/*
  ttl
*/

.ttl {
  h2 {
    font-weight: 900;
    font-size: 50px;
    position: relative;
    text-transform: uppercase;

    &:before {
      content: "";
      position: absolute;
      bottom: -15px;
      left: 50%;
      transform: $transform50;
      width: 50px;
      height: 2px;
      background: $mainTxt;
      text-align: center;
    }
  }
  p {
    font-size: 16px;
    font-weight: 300;
    padding: 30px 0 0;
  }
}

.title {
  text-align: right;
  padding-right: 10%;

  h2 {
    font-size: 40px;
    padding: 20px 0 8%;
  }
  p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 100;
  }
}

/*---------------------
        header
---------------------*/
header {
  position: fixed;
  z-index: 999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;

  &.change {
    background: $mainTxt;

    #container {
      h1 {
        img {
          width: 100px;
        }
      }
    }
  }

  #container {
    max-width: 1500px;
    margin: 0 auto;
    @include flexbox($flexW: wrap);
    align-items: center;

    .hamburger {
      transition: $transition;
      cursor: pointer;
      display: block;
      width: 40px;
      height: 40px;
      position: relative;

      span {
        display: block;
        width: 40px;
        height: 2px;
        background: $white;
        position: absolute;
        right: 0;
        transition: $transition;

        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 16px;
        }
        &:nth-child(3) {
          top: 32px;
        }
      }

      &.open {
        span {
          &:nth-child(1) {
            opacity: 0;
          }
          &:nth-child(2) {
            transform: rotate(-40deg);
          }
          &:nth-child(3) {
            transform: rotate(40deg);
            top: 16px;
          }
        }
      }
    }

    h1 {
      img {
        width: 100%;
        transition: $transition;
      }
    }

    /*search*/
    .select-box {
      position: relative;
      min-width: 80px;

      &::-ms-expand {
        display: none;
      }
      &::before {
        content: "";
        position: absolute;
        right: 37px;
        top: 20px;
        width: 1px;
        height: 20px;
        background: $white;
      }
      &:after {
        content: "expand_more";
        font: 17px "material icons";
        color: $white;
        position: absolute;
        right: 11px;
        top: 20px;
        padding: 0 0 2px;
        pointer-events: none;
      }
      select {
        text-transform: uppercase;
        appearance: none;
        display: block;
        width: 100%;
        max-width: 320px;
        height: 50px;
        margin: 5px 0px;
        padding: 0px 10px;
        font-size: 16px;
        background: transparent;
        line-height: 1.75;
        word-break: normal;
        color: $white;
        border: 1px solid rgba(255, 255, 255, 0.6);
        border-radius: 6px;
      }
      option {
        color: $mainTxt;
      }
    }

    nav {
      opacity: 0;
      visibility: hidden;
      height: 0vh;
      width: 100%;
      transition: $transition;
      &.open {
        opacity: 1;
        visibility: visible;
        height: 50px;
      }
      ul {
        max-width: 1500px;
        margin: 0 auto;
        @include flexbox();

        a {
          color: $white;
          text-transform: uppercase;
          padding: 20px 0 5px;
          position: relative;
          letter-spacing: 1px;

          &:hover {
            color: $white;
            &::before {
              width: 6px;
              height: 18px;
              background: $white;
              position: absolute;
              bottom: 7px;
              left: -12px;
            }
          }
          &::before {
            content: "";
            transition: $transition;
          }
        }
      }
    }
  }
}

/*---------------------
        menu
---------------------*/

/*---------------------
        contents
---------------------*/

/*slider*/
#visual {
  .visual-sl {
    .item {
      position: relative;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      height: 100vh;
    }

    h2 {
      font-size: 100px;
      letter-spacing: 20px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.8);
      text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
      padding-top: 20%;
    }
    p {
      color: rgba(255, 255, 255, 0.7);
      font-size: 26px;
      padding: 20px 0;
    }
    .textbox {
      position: absolute;
      bottom: 2%;
      left: 50%;
      transform: $transform50;
    }

    .owl-nav {
      margin-top: 0;

      [class*="owl-"] {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 0;
        position: absolute;
        bottom: 4%;
        width: 40px;
        height: 40px;
      }
      span {
        color: $white;
        font-size: 40px;
      }
      button.owl-prev {
        right: 115px;
      }
      button.owl-next {
        right: 70px;
      }
    }
  }

  /*scroll down*/
  .scrolldw {
    a {
      position: absolute;
      bottom: 20px;
      left: 70px;
      z-index: 2;
      display: inline-block;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: $white;
      letter-spacing: 0.1em;
      text-decoration: none;
      transition: opacity 0.3s;

      &:hover {
        opacity: 0.5;
      }
    }

    &#scrolldown {
      a {
        padding-top: 0;

        span {
          position: absolute;
          top: -110px;
          left: 50%;
          width: 1px;
          height: 50px;
          background: $white;
          animation: sdb05 1.5s infinite;
          box-sizing: border-box;
        }
      }
    }
  }
}

@keyframes sdb05 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 50px);
    opacity: 0;
  }
}

/*design*/
#design {
  margin: 0 auto;
  text-align: center;

  .ttl {
    margin: 50px auto;
  }

  .design-cont {
    background: linear-gradient(to left, $mainTxt, $mainTxt 70%, #eee 70%);
    color: $white;
    @include flexbox();
    padding: 100px 0;

    img {
      max-width: 100%;
    }

    .title {
      a {
        margin-top: 40px;
        &:hover {
          color: $mainTxt;
          background: $white;
        }
      }
    }
  }
}

/*360viewer*/
#viewer {
  background: $black;
  padding: 100px 0;

  .ttl {
    color: $white;
    margin: 0;
  }
  .pager {
    text-align: right;
    color: $white;
    padding-right: 10%;

    span {
      display: block;
      margin-bottom: 20px;
    }
  }

  .product-viewer {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.basic-slwrap {
  @include flexbox();
  background: $mainTxt;

  .title {
    width: 50%;
    padding: 30px 10% 30px 5%;
    color: $white;

    .btn:hover {
      background: $white;
      color: $mainTxt;
    }
  }

  .basic-sl {
    width: 50%;

    .item {
      width: 100%;
    }
    .owl-nav {
      display: none;

      &.disabled + .owl-dots {
        margin-top: 0;
      }
    }
    .owl-dots {
      position: absolute;
      bottom: 20px;
      left: 50%;
    }
  }
}

/**/
#performance {
  .ttl {
    margin: 50px 0;
  }

  .title {
    text-align: left;
    padding: 30px 5% 30px 10%;
  }
}

#feature {
  background: #ededed;

  ul {
    @include flexbox();
  }
}

/*tech*/
.technology {
  .ttl {
    margin: 50px auto;
  }
}

.tech-right {
  width: 100%;
  height: 100%;

  .row {
    position: relative;

    .title {
      text-align: right;
      color: $white;
      position: absolute;
      right: 0;
      bottom: -850px;

      h2 {
        @extend %h2;
      }
      p {
        @extend %titleP;
      }
    }
  }
}

/*tech hover*/
.tech-hover {
  @include flexbox($flexW: wrap);
  margin-top: 9px;

  figure {
    width: 33.33%;
    position: relative;
    margin-bottom: -5px;

    &:last-child {
      width: 66.67%;

      figcaption {
        &:before {
          width: 98%;
        }
        &:after {
          width: 96%;
        }
      }
    }
    img {
      width: 100%;
    }
    &:hover {
      figcaption {
        opacity: 1;
      }
    }
    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(22, 26, 37, 0.9);
      color: $white;
      width: 100%;
      height: 99%;
      text-align: center;
      opacity: 0;
      transition: $transition;

      &:before {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        border: 1px solid $white;
        width: 96%;
        height: 96%;
      }
      &:after {
        content: "";
        position: absolute;
        top: 20px;
        left: 20px;
        border: 1px solid $white;
        width: 93%;
        height: 93%;
      }
      .box {
        position: relative;
        top: 50%;
        left: 50%;
        transform: $transform50;
        .tt {
          font-size: 30px;
          margin-bottom: 30px;
        }
        p {
          font-size: 14px;
          padding: 0 10%;
        }
      }
    }
  }
}

/*spec*/
#spec {
  background: $white;
  margin: 50px auto;

  img {
    width: 100%;
    padding: 5% 0 30px;
  }
  ul {
    @include flexbox($flexW: wrap);
    padding: 50px 0;

    li {
      width: 50%;
      border-left: 1px solid $mainTxt;
      text-align: left;
      padding: 0 0 0 10px;
    }
  }
}

/*personal*/
#personal {
  .row {
    margin: 50px auto;
  }

  .effbox {
    background-image: url(../img/design01.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 7% 0 7% 10%;
    position: relative;
    overflow: hidden;

    .hover {
      color: $white;
      width: 34%;
      position: relative;
      z-index: 2;
      opacity: 0;
      transition: $transition;

      .btn {
        margin-top: 30px;
      }
      h2 {
        font-size: 30px;
        color: $white;
        padding: 0 0 8%;
      }
      p {
        font-size: 16px;
        line-height: 30px;
        font-weight: 100;
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: -9%;
      top: -65%;
      background: rgba(0, 0, 0, 0.5);
      transform: rotate(120deg);
      width: 1000px;
      height: 1000px;
      z-index: 0;
      transition: $transition;
      opacity: 0;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
      .hover {
        opacity: 1;
      }
    }

    &.box2 {
      background-image: url(../img/design02.jpg);

      .hover {
        text-align: right;
        float: right;
        width: 45%;
        padding-right: 10%;
      }
      &::before {
        right: -9%;
        left: auto;
        transform: rotate(66deg);
        top: -30%;
        width: 1100px;
      }
    }
  }
}

/*---------------------
        footer
---------------------*/
footer {
  background: $mainTxt;
  padding: 10px 0;

  .row {
    @include flexbox($flexW: wrap);

    .text {
      color: $white;
      font-size: 14px;
      width: 33%;
      text-align: center;

      img {
        width: 120px;
      }

      &:first-child {
        text-align: left;
      }

      ul {
        @include flexbox($flexW: wrap, $flexJC: center);

        li {
          padding-left: 20px;

          a {
            color: $white;
            font-size: 30px;
          }
        }
      }
    }
  }
}

/*---------------------
        scroll top
---------------------*/

#topScroll {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: $white;
  border: 1px solid $mainTxt;
  color: $mainTxt;
  border-radius: 100%;
  font-size: 1.2em;
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  @include flexbox($flexJC: center);
  z-index: 999;

  span {
    position: relative;
    top: 0;
    transition: $transition;
  }

  &:hover {
    background-color: $mainTxt;
    color: $white;
    span {
      top: -6px;
    }
  }
}
